.container{
    
    height: 1200px;
    width: 700px;
    position: relative;
}

.img1{
    background-image: url("../HTML/pd1.jpg");
    background-repeat: no-repeat;
    height: 372px;
    width: 300px;
    position: relative;
}

.greenrectangle{
    height: 20px;
    width: 40px;
    background: green;
    position: absolute;
    right: 0;
    top: 0;
}

.heart{
    color: red;
    position: absolute;
    bottom: 0;
    margin: auto;

}