*{
    box-sizing: border-box;
    margin: 0;
  }

.container{
    height: 500px;
    width: 1000px;
}

.hv-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 

.plus, .header-text{
    color: rgb(25, 138, 176);
  }

header{
    position: relative;
  }
  
.header-text{
    position: absolute;
    right: 0;
  }

  .item{
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin-top: 10vh;
    display: inline-block; 
}

.immagine1{
  background-image: url('./aurora boreale.jpg');
}

.immagine2{
  background-image: url('./lago rosa.jpg');
}

.immagine3{
  background-image: url('./taj mahal.jpg');
}

.immagine4{
  background-image: url('./monte everest.jpg');
} 

